*.iml
**/*.iml
.env
**/.env
.log
**/.log
.DS_Store
.idea/
.vscode/
.kilo/
.astro/
.roo/
.cline/
dist/
secrets/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.production
/reference/